* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  color: #edc84b;
  justify-content: center;
  margin: 2rem;
}
.cards {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cardImage {
  width: 25%;
}
h2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: inline;
}
